.site-header {
    padding: 15px 0;
}

@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1140px;
    }

}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
}

.custom-logo-link img {
    width: 150px;
}

.custom-logo-link img {
    width: 200px;
}

img {
    max-width: 100%;
    height: auto;
}

img,
svg {
    vertical-align: middle;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}

.my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

@media (min-width: 1200px) {
    .col-xl-3 {
        flex: 0 0 auto;
        width: 25%;
    }

}

.row>* {
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
}

.custom-logo-link {
    display: inline-block;
}

div,
a,
p,
span {
    user-select: text !important;
}

.my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

@media (min-width: 1200px) {
    .col-xl-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }

}

.row>* {
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
}

@media (min-width: 992px) {
    .d-lg-inline-block {
        display: inline-block !important;
    }
}

.primary-menu ul {
    padding-left: 0;
    margin-bottom: 0 !important;
}

dl,
ol,
ul {
    padding-left: 18px;
}

dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

ol,
ul {
    padding-left: 2rem;
}

ol,
ul {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: border-box;
}

user agent stylesheet ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

div,
a,
p,
span {
    user-select: text !important;
}

.primary-menu .menu-item-has-children {
    position: relative;
}

.primary-menu ul li {
    display: inline-block;
    margin-right: 40px;
    position: relative;
}

*,
::after,
::before {
    box-sizing: border-box;
}

user agent stylesheet li {
    display: list-item;
    text-align: -webkit-match-parent;
}

user agent stylesheet ul {
    list-style-type: disc;
}

.primary-menu ul {
    padding-left: 0;
    margin-bottom: 0 !important;
}

dl,
ol,
ul {
    padding-left: 18px;
}

dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

ol,
ul {
    padding-left: 2rem;
}

ol,
ul {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: border-box;
}

user agent stylesheet ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.primary-menu .menu-item-has-children {
    position: relative;
}

.primary-menu ul li {
    display: inline-block;
    margin-right: 40px;
    position: relative;
}

.primary-menu ul li>a {
    color: #333;
    font-size: 17px;
    font-weight: 500;
}

.primary-menu ul li .children,
.primary-menu ul li .sub-menu {
    padding: 15px 0;
    position: absolute;
    z-index: 9;
    border-radius: 0;
    border: none;
    background: #fff;
    -webkit-box-shadow: 0 13px 25px -12px rgb(0 0 0 / 25%);
    box-shadow: 0 13px 25px -12px rgb(0 0 0 / 25%);
    display: block;
    left: 0;
    opacity: 0;
    right: 0;
    top: 52px;
    padding-left: 0;
    visibility: hidden;
    min-width: 230px;
    -webkit-box-shadow: 0 30px 70px 0 rgb(137 139 142 / 15%);
    box-shadow: 0 30px 70px 0 rgb(137 139 142 / 15%);
    margin: 0;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    transform: scale(1, 0);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.primary-menu ul {
    padding-left: 0;
    margin-bottom: 0 !important;
}

body,
p {
    font-family: Rubik;
    line-height: 28px;
    font-weight: normal;
    font-style: normal;
    color: #4A6375;
    font-size: 16px;
}

.primary-menu ul li .children li a,
.primary-menu ul li .sub-menu li a {
    padding: 10px 20px;
    display: block;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.primary-menu ul li>a {
    color: #333;
    font-size: 17px;
    font-weight: 500;
}

.primary-menu ul li .children li,
.primary-menu ul li .sub-menu li {
    margin-right: 0;
    text-align: left;
    display: block;
}

.primary-menu .menu-item-has-children {
    position: relative;
}

.primary-menu ul li .children li a,
.primary-menu ul li .sub-menu li a {
    padding: 10px 20px;
    display: block;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.primary-menu ul li>a {
    color: #333;
    font-size: 17px;
    font-weight: 500;
}

.primary-menu .menu-item-has-children {
    position: relative;
}

.primary-menu ul li {
    display: inline-block;
    margin-right: 40px;
    position: relative;
}

.header-btn a {
    padding: 10px 30px;
    display: inline-block;
    border: 2px solid;
    border-radius: 50px;
}

.header-btn a {
    color: #6787FE;
}

.primary-menu ul li.page_item_has_children:after,
.primary-menu ul li.menu-item-has-children:after {
    position: absolute;
    content: "\f0d7";
    font-family: "font awesome 5 pro";
    font-weight: 900;
    font-size: 15px;
    right: -17px;
    top: 1px;
}

section {
    display: block;
}

.breadcrumbs {
    background-color: #333333;
    background-image: url(https://themebing.com/wp/prolancer/wp-content/uploads/2021/09/breadcrumb-bg.jpg);
}

.breadcrumbs {
    overflow: hidden;
    padding: 80px 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
body,
div,
a,
p,
span {
    user-select: text !important;
}

*,
::after,
::before {
    box-sizing: border-box;
}

user agent stylesheet div {
    display: block;
}

.breadcrumbs h1 {
    font-size: 48px;
    margin-bottom: 0;
    font-weight: 700;
    color: #fff;
}

.breadcrumbs ul {
    list-style: none;
    padding-left: 0;
    display: inline-block;
    margin: 10px 0 0;
}
.breadcrumbs ul li {
    position: relative;
    float: left;
    margin-right: 30px;
    color: #fff;
}

.breadcrumbs ul li::before {
    position: absolute;
    content: "»";
    right: -20px;
    font-size: 18px;
}

.breadcrumbs ul li a {
    color: #fff;
    font-weight: 600;
}
.elementor *,
.elementor :after,
.elementor :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.elementor-1803 .elementor-element.elementor-element-7f9f1d9b>.elementor-container {
    max-width: 1140px;
}

.elementor-section .elementor-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

@media (min-width: 769px) {
    .elementor-1803 .elementor-element.elementor-element-7e8ec4b2 {
        width: 29.911%;
    }
}

.elementor-column-gap-default>.elementor-column>.elementor-element-populated {
    padding: 10px;
}

.elementor-1803 .elementor-element.elementor-element-a107d09 {
    text-align: left;
}

.elementor-widget:not(:last-child) {
    margin-bottom: 20px;
}

.elementor-1803 .elementor-element.elementor-element-a107d09 img {
    width: 44%;
}

.elementor-widget:not(:last-child) {
    margin-bottom: 20px;
}

.elementor-widget:not(:last-child) {
    margin-bottom: 20px;
}

.elementor-widget-wrap>.elementor-element {
    width: 100%;
}

.elementor-element {
    --widgets-spacing: 20px;
}

.elementor-1803 .elementor-element.elementor-element-a538944>.elementor-widget-container {
    margin: 20px 0;
}

.elementor-1803 .elementor-element.elementor-element-a538944 .elementor-heading-title {
    color: #333;
    font-family: rubik, Sans-serif;
    font-weight: 400;
    line-height: 28px;
}

.elementor-heading-title {
    /* padding: 0; */
    margin: 0;
    line-height: 1;
}

.elementor-widget-wrap>.elementor-element {
    width: 100%;
}

.elementor-element {
    --widgets-spacing: 20px;
}

.elementor-widget {
    position: relative;
}

.elementor-element {
    --flex-direction: initial;
    --flex-wrap: initial;
    --justify-content: initial;
    --align-items: initial;
    --align-content: initial;
    --gap: initial;
    --flex-basis: initial;
    --flex-grow: initial;
    --flex-shrink: initial;
    --order: initial;
    --align-self: initial;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: var(--flex-direction);
    flex-direction: var(--flex-direction);
    -ms-flex-wrap: var(--flex-wrap);
    flex-wrap: var(--flex-wrap);
    -webkit-box-pack: var(--justify-content);
    -ms-flex-pack: var(--justify-content);
    justify-content: var(--justify-content);
    -webkit-box-align: var(--align-items);
    -ms-flex-align: var(--align-items);
    align-items: var(--align-items);
    -ms-flex-line-pack: var(--align-content);
    align-content: var(--align-content);
    gap: var(--gap);
    -ms-flex-preferred-size: var(--flex-basis);
    flex-basis: var(--flex-basis);
    -webkit-box-flex: var(--flex-grow);
    -ms-flex-positive: var(--flex-grow);
    flex-grow: var(--flex-grow);
    -ms-flex-negative: var(--flex-shrink);
    flex-shrink: var(--flex-shrink);
    -webkit-box-ordinal-group: var(--order);
    -ms-flex-order: var(--order);
    order: var(--order);
    -ms-flex-item-align: var(--align-self);
    align-self: var(--align-self);
}

.site-footer .mc4wp-form {
    position: relative;
}

.mc4wp-form-fields {
    position: relative;
}

.site-footer .mc4wp-form input[type=email] {
    height: 70px;
}

.input-text,
select,
input[type=email],
input[type=password],
input[type=search],
input[type=text],
input[type=url],
input[type=number],
textarea {
    width: 100%;
    border: 1px solid #dfdfdf;
    height: 60px;
    border-radius: 50px;
    padding: 0 15px;
}

.site-footer .mc4wp-form input[type=submit] {
    position: absolute;
    right: 5px;
    top: 5px;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
}

input[type="submit"],
input[type="submit"] {
    background: #6787FE;
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    border-radius: 50px;
    height: 60px;
    padding: 0 50px;
    border: none;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    line-height: inherit;
}

@media (min-width: 769px) {
    .elementor-1803 .elementor-element.elementor-element-5e8198a {
        width: 9.985%;
    }
}

.elementor-widget-wrap {
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
}

@media (min-width: 769px) {

    .elementor-column.elementor-col-20,
    .elementor-column[data-col="20"] {
        width: 20%;
    }

}

.elementor-1803 .elementor-element.elementor-element-58e6ebf3 {
    --e-icon-list-icon-size: 14px;
}

.elementor-widget-wrap>.elementor-element {
    width: 100%;
}

.elementor-element {
    --widgets-spacing: 20px;
}

.elementor-widget {
    position: relative;
}

#left-area ul.elementor-icon-list-items,
.elementor-edit-area .elementor-element ul.elementor-icon-list-items,
.elementor .elementor-element ul.elementor-icon-list-items {
    padding: 0;
}

.elementor-widget .elementor-icon-list-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.elementor-1803 .elementor-element.elementor-element-58e6ebf3 .elementor-icon-list-text {
    color: #333;
}

.elementor-1803 .elementor-element.elementor-element-58e6ebf3 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(6px/2);
}

.elementor-1803 .elementor-element.elementor-element-58e6ebf3 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(6px/2);
}

.elementor-widget .elementor-icon-list-item,
.elementor-widget .elementor-icon-list-item a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: inherit;
}

.elementor-widget .elementor-icon-list-item {
    margin: 0;
    padding: 0;
    position: relative;
}

.elementor-1803 .elementor-element.elementor-element-31cca992 .elementor-icon-list-text {
    color: #333;
}

.elementor-1803 .elementor-element.elementor-element-31cca992 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(6px/2);
}

.elementor-1803 .elementor-element.elementor-element-31cca992 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(6px/2);
}

.elementor-1803 .elementor-element.elementor-element-1e947ef .elementor-icon-list-text {
    color: #333;
}

.elementor-1803 .elementor-element.elementor-element-1e947ef .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(6px/2);
}

.elementor-1803 .elementor-element.elementor-element-1e947ef .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(6px/2);
}

.currency-footer {
    text-align: right;
}

@media (min-width: 576px) {
    .col-sm-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }
}

.currency-footer img {
    width: 50px;
    margin-left: 5px;
}

img {
    max-width: 100%;
    height: auto;
}
.section-padding {
    padding: 120px 0;
    overflow: hidden;
}
@media (min-width: 1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
     max-width: 1140px;
}
}
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
}
.justify-content-center {
    justify-content: center !important;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}
@media (min-width: 1200px) {
    .col-xl-8 {
            flex: 0 0 auto;
            width: 66.66666667%;
        }

}
.row>* {
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}
.prolancer-service-item.style-2 {
    position: relative;
    padding: 20px;
    background: #f8fafb;
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 50px;
}
.prolancer-service-item.style-2 .featured-post {
    position: absolute;
    content: '';
    top: 15px;
    left: -30px;
    padding: 0 26px;
    border-top: none;
    z-index: 1;
    color: #fff;
    transform: rotate(-45deg);
    font-size: 12px;
}
.prolancer-service-item.style-2 {
    position: relative;
    padding: 20px;
    background: #f8fafb;
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 50px;
}
.prolancer-service-item.style-2 .featured-post {
    position: absolute;
    content: '';
    top: 15px;
    left: -30px;
    padding: 0 26px;
    border-top: none;
    z-index: 1;
    color: #fff;
    transform: rotate(-45deg);
    font-size: 12px;
}
.featured-post,
.notifications-widget .notifications-button span,
.wp-block-search .wp-block-search__button,
.sellers .slick-arrow.fa-chevron-left,
.sellers .slick-arrow.fa-chevron-right,
.buyers .slick-arrow.fa-chevron-left,
.buyers .slick-arrow.fa-chevron-right,
.services .slick-arrow.fa-chevron-left,
.services .slick-arrow.fa-chevron-right,
.projects .slick-arrow.fa-chevron-left,
.projects .slick-arrow.fa-chevron-right,
.page-links a.post-page-numbers,
.my-account-widget i,
.brands_form input[type="submit"],
.header-btn a:hover,
.top-header .ajax-search-form button,
.service-widget .skills a:hover,
.follow-button:hover,
.message-button:hover,
.progress-bar,
.irs--round .irs-from,
.irs--round .irs-to,
.irs--round .irs-bar,
.prolancer-rgb-btn:hover,
.skills-required a:hover,
.select2-container--default .select2-selection--multiple .select2-selection__choice,
.message_sender,
.feds-user-profile a,
.shopping-cart-widget i,
.countdown-date span,
.preview-btn li a:hover,
#backtotop i,
.product-item-content .add_to_cart_button:hover,
.product-item-content .added_to_cart:hover,
.comment-navigation .nav-links a,
.select-items div:hover,
.same-as-selected,
.mean-container .mean-nav ul li a.mean-expand:hover,
button,
input[type="button"],
.widget_price_filter .ui-slider .ui-slider-range,
.widget_price_filter .ui-slider .ui-slider-handle,
input[type="reset"],
.off-canvas-menu .navigation li>a:hover,
.off-canvas-menu .navigation .dropdown-btn:hover,
.off-canvas-menu .navigation li .cart-contents,
input[type="submit"],
.prolancer-search-btn,
.video-item .view-detail,
.widget-product-details .widget-add-to-cart .variations .value .variation-radios [type="radio"]:checked+label:after,
.single-product .product_meta .tagged_as a:hover,
.single-product .product_meta .posted_in a:hover,
.widget-product-details .widget-add-to-cart .variations .value .variation-radios [type="radio"]:not(:checked)+label:after,
.widget_shopping_cart_content .button,
.banner2 .banner-cat .cat-count,
ul.banner-button li:first-child a,
ul.banner-button li a:hover,
.prolancer-pricing-table.recommended,
.prolancer-pricing-table a:hover,
.wedocs-single-wrap .wedocs-sidebar ul.doc-nav-list>li.current_page_parent>a,
.wedocs-single-wrap .wedocs-sidebar ul.doc-nav-list>li.current_page_item>a,
.wedocs-single-wrap .wedocs-sidebar ul.doc-nav-list>li.current_page_ancestor>a,
.primary-menu ul li .children li.current-menu-item>a,
.recent-themes-widget,
.newest-filter ul li.select-cat,
.download-filter ul li.select-cat,
input[type="button"],
input[type="reset"],
input[type="submit"],
.checkout-button,
.tag-cloud-link:hover,
.prolancer-btn,
.prolancer-btn.bordered:hover,
.post-navigation .nav-previous a,
.post-navigation .nav-next a,
.blog-btn .btn:hover,
.mean-container .mean-nav,
.recent-theme-item .permalink,
.banner-item-btn a,
.meta-attributes li span a:hover,
.theme-item-price span,
.error-404 a,
.product-item-image .onsale,
.theme-item-btn a:hover,
.theme-banner-btn a,
.comment-list .comment-reply-link,
.comment-form input[type=submit],
.pagination .nav-links .page-numbers.current,
.pagination .nav-links .page-numbers:hover,
.excerpt-date,
.woocommerce-MyAccount-navigation li.is-active a,
.primary-menu ul li .children li a:hover,
.header-btn .sub-menu li a:hover,
a.product_type_variable,
a.product_type_simple,
a.product_type_external,
a.product_type_grouped,
a.add_to_cart_button,
a.added_to_cart,
.tags>a:hover,
.single-post .post-share ul li a:hover,
.playerContainer .seekBar .outer .inner,
.playerContainer .volumeControl .outer .inner {
    background: #6787FE;
}